<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.drbiomaster.product-sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__RUNTIME_SCRIPT__</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__APP_SUPPORT__</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>__HOME__</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>__HOUR__</integer>
		<key>Minute</key>
		<integer>__MINUTE__</integer>
	</dict>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>__LAUNCH_LOG__</string>
	<key>StandardErrorPath</key>
	<string>__LAUNCH_ERROR_LOG__</string>
</dict>
</plist>
